<div class="col col-12">
  <!-- begin article -->
  <div class="article wow fadeIn">
    <div class="article__content">
      <h2 class="article__title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
      </h2>
      <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 250 }}{% endif %}</p>
      <div class="article-info">
        {% if post.tags.size >= 1 %}
          <span class="article__tags">
            posted in
            {% for tag in post.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag }}" class="article__tag">{{ tag }}</a>
            {% endfor %}
          </span>
        {% endif %}
        <span class="article__meta">
          <span class="article__date"> on <a href="{{post.url | prepend: site.baseurl}}"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></a></span>
          <span class="article__author"> by <a href="{{site.baseurl}}/about/">{{ site.author.name }}</a></span>
        </span>
      </div>
    </div>
    
<div class="article__content">
<p>I&rsquo;ve stressed the problems of relativism and individualism as I explained them, because they are so apparent from the beginning. We don&rsquo;t have space for detailed discussions, but we should at least recognize the major deficiencies of each theory.</p>
<h2>CHRISTIAN ETHICS</h2>
<p>The major problem of a Christian theory of ethics is that many don&rsquo;t believe in God and, accordingly, that Jesus&rsquo; ethical message for humanity comes from a God. There is also the problem of agreeing on the nature of this message, since Christian writers interpret God&rsquo;s law and the teachings of Jesus in many different ways.</p>
<p>Principles based on obedience to law&shy;like rules may clash with agapeic principles emphasizing love and benevolence. Christians disagree whether a wife must al&shy;ways obey her husband or whether war violates the command&shy;ment not to kill. Similarly, Christians disagree about whether euthanasia is a loving act.</p>
<h2>KANTIAN ETHICS</h2>
<p>The Kantian theory suffers several grave problems. First, it forbids an appeal to consequences in defining a moral act; indeed, if an act is done only to produce good conse&shy;quences and not in obedience to a universal moral law, it is for Kant necessarily amoral.</p>
<p>Yet it has seemed to many that al&shy;though he does not consider consequences relevant, Kant indi&shy;rectly accepts them. His test of universalization seems to be an indirect appeal to the bad consequences of willing immoral max&shy;ims. One can will everyone to become a murderer, rapist, or thief, but what kind of world would it be?</p>
<p>Second, it&rsquo;s unclear how a moral agent is supposed to be moti&shy;vated who acts solely from a sense of duty and not from any emotion or desire. This contradicts views of human motivation that come from the behavioral sciences.</p>
<p>Perhaps the wiser alter&shy;native is to say that men can act morally, motivated by their desires and emotions, accepting the view with Kant that such desires and emotions are caused. We may be able to understand &ldquo;caused&rdquo; in a broad sense, realizing that we can cause some of our own desires through our own reflections and choices.</p>
<p>We could then focus on and foster what causes people to have up&shy;right emotions and good desires. But to say an action is morally good only if it is produced against desires and out of vague respect for an abstract moral law, may be to require of people what is impossible.</p>
<p>Third, Kant gives us no way to solve conflicts among universalizable duties. I should neither lie nor steal, but shouldn&rsquo;t I lie if that&rsquo;s the only way to save someone&rsquo;s life? If moral rules have no exceptions, there is no way out.</p>
<p>Finally, Kant&rsquo;s ethics overemphasize duty to the neglect of the virtues. There&rsquo;s more to good character than a sense of duty; there are also compassion, kindness, integrity, courage, and friendship. The picture Kant draws of the moral life is harsh and difficult. True, moral excellence is uncommon, but is the morally good life necessarily difficult and without satisfaction? For Kant, it would seem so.</p>
<h2>UTILITARIANISM</h2>
<p>The utilitarian theory has problems that may be camouflaged by the theory&rsquo;s initial aura of providing answers for all questions. First, what is a good consequence? Only plea&shy;sure and not knowledge? What kind of pleasure, acute physical pleasure or vague intellectual satisfaction?</p>
<p>Second, how is the greatest number calculated? Do we include all people, including children? What about future generations? Does the pain of fe&shy;tuses count in abortion decisions? Do animals count? Third, how do we compare pleasures and trade-offs between people? Would a small increase in health care be worth doubling its costs?</p>
<p>Finally, there are two nearly insurmountable problems. The greatest good seems to include the satisfied desires of fanatics, Nazis, and sadists as well as saints and heroes. Surely this is objectionable.</p>
<p>Next, the greatest good at times seems to neces&shy;sitate violations of individual political rights. We accept such violations of rights of privacy in the case of venereal disease; should we also do the same with regard to genetic diseases, forcing people to screen their babies for defects and interfering with their privacy?</p>
<p>Indeed, aren&rsquo;t there times when it serves the greatest good to forgo treating those who can&rsquo;t contribute to society, and instead to put scarce resources into helping the productive? But would this be right?</p>
<h2>ARISTOTELIAN VIRTUES</h2>
<p>The Aristotelian theory of ethics also has problems. First, some critics have claimed that the theory is simply a batch of vague platitudes and tautologies, such as &ldquo;do&shy;ing the right action for the right reason in the right way at the right time&rdquo;.</p>
<p>Second, Aristotle&rsquo;s theory of the unity of the virtues, though it has merit, seems too uncompromising. Isn&rsquo;t it possible to say that a person lacks, for example, the fairness of justice, without implying that he can&rsquo;t have other virtues, such as courage? Many soldiers have bravely risked their lives in war, but they were not therefore necessarily always temperate.</p>
<p>Third, the vagueness of phronesis together with assertions about the unity of the virtues obscures the possibility of a con&shy;flict among virtues. Yet there are times when, for example, one chooses between impartiality and compassion.</p>
<p>Aristotle failed to see the possibility of conflict because his culture had a roughly homogeneous set of moral beliefs. In today&rsquo;s pluralistic context, we are the inheritors of different schemes of the virtues and they sometimes conflict&mdash;for example, the Christian virtue of humility is a vice for Aristotle.</p>
<p>Finally, Aristotle is too vague about how we know when we or others have a virtue. By what criteria can we judge? If there are no criteria, how do we point out to fools and fanatics who claim to be just and good that they are not?</p>
<p>I raise the above problems for each theory to impart a sense to the reader that there is unfinished business in ethics. No one theory obviously and immediately captures our total assent. Each has problems. One of the ways a theory of ethics is tested is against the touchstone of real practical problems. The prob&shy;lems in medicine that we consider in the following chapters per&shy;form such a test.</p>
</div>    
    
  </div>
  <!-- end article -->
</div>
